h1{margin-bottom:10px;}
.content_scene_cat {
	padding:5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 1px #e2e2e2;
	-webkit-box-shadow: 0 1px 1px #e2e2e2;
	box-shadow: 0 1px 1px #e2e2e2;
}

.cat_desc {
	font-size:12px;
	line-height:18px;
}
.cat_desc p {padding:0 10px 5px 10px}
.cat_desc .lnk_more {
   padding:0 10px;
}
#subcategories {margin-top:15px}
#subcategories h3 {
	padding:14px 12px;
	font-size:13px;
	text-transform:uppercase;
	text-shadow:0 1px 0 #666;
}

.inline_list {
	list-style-type:none;
	margin-top:10px;
}
.inline_list  li {
	padding:10px 0;
}
.inline_list  li .img {
	float:left;
	margin-right:15px
}
.inline_list  li .cat_name {
	font-weight:bold;
	font-size:13px
}

/* Color, Background and Border*/
.resumecat {
	color:#000;
}

.content_scene_cat {
	border:1px solid #ccc;
}
.cat_desc .lnk_more{
   color:#0088CC;
	background:url(../img/arrow_right_1.png) no-repeat 100% 4px transparent;
}

#subcategories h3 {
	color:#fff;
	background:url(../img/bg_table_th.png) repeat-x 0 0 #999
}

.inline_list  li {
	border-bottom:1px dotted #ccc
}
.inline_list  li img {
	border:1px solid #ccc
}

